@import '../basic/variables.scss';
@import '../basic/classes.scss';
@import '../basic/mixins.scss';
@import '../scss/fonts/stylesheet.css';
body{
    .page{
        .homepage-about{
            .main-title{
                @extend %maintitle;
            }
            .front-page{
                @include flex(center, wrap);
                .slide-container{
                    max-width: 800px;
                    padding: $size02;
                    .slide{
                        display: none;
                        img{
                            vertical-align: middle;
                            @include for-image(contain);
                        }
                    }
                }
                .about-text{
                    @extend %about-text;
                }
            }
        }
    }
}