@import '../basic/variables.scss';
@import '../basic/classes.scss';
@import '../basic/mixins.scss';
@import '../scss/fonts/stylesheet.css';
body{
    background-image: url(../pics/back5.jpg);
    @extend %background;
    .page{
        @extend %page;
        header{
            .navbar{
                @extend %navbar;
                @include flex(space-around, wrap);
                .logo{
                    height: $hlogo;
                    img{
                        height: 100%;
                    }
                }
                .menu{
                    .nav{
                        @include flex(space-between, wrap);
                        .list-item{
                            @extend %list-item;
                            &:hover{
                                @extend %nav-hover;
                            }
                        }
                    }
                }
            }
        }
        .homepage-about{
            .main-title{
                @extend %maintitle;
            }
            .front-page{
                @include flex(center, wrap);
                .slide-container{
                    max-width: 800px;
                    padding: $size01;
                    .slide{
                        display: none;
                        img{
                            vertical-align: middle;
                            @include for-image(contain);
                        }
                    }
                }
                .about-text{
                    color: blue;
                    border: 1px red solid;
                    max-width: 700px;
                    
                }
            }
        }
    }
}