@import '../basic/variables.scss';
@import '../basic/classes.scss';
@import '../basic/mixins.scss';
@import '../scss/fonts/stylesheet.css';
body{
    background-image: url(../pics/back5.jpg);
    @extend %background;
    .page{
        font-family: 'Langar';
        @extend %page;
        header{
            .navbar{
                @extend %navbar;
                @include flex(space-around, wrap);
                .logo{
                    height: $hlogo;
                    img{
                        height: 100%;
                    }
                }
                .menu{
                    .nav{
                        @include flex(space-between, wrap);
                        .list-item{
                            @extend %list-item;
                            &:hover{
                                @extend %nav-hover;
                            }
                        }
                    }
                }
            }    
        }
        .homepage{
            height: $max-page;
            .main-title{
                @extend %maintitle;
            }         
            .animated{
                margin: 30vh 50%;
                height: $hlogo;
                img{
                    animation: anime 2.5s linear infinite alternate;
                    height: 100%;
                }
            }
        }
        .about{
            background-image: url(../pics/back4.png);
            @extend %background;
            .blur{
                background-color: rgba($color: #000000, $alpha: 0.5);
                padding-bottom: $size02;
                .products-title{
                    @extend %title;
                    &::after, 
                    &::before{
                        @include after(10%);
                    }
                }
                .description{
                    .text{
                        @extend %text;
                    }
                }
                @media (max-width:1100px) {
                    .description{
                        .text{
                            font-size: $size02;
                            line-height: 35px;
                        }    
                    }
                }
            }
        }
        .products{
            background-color: whitesmoke;
            .pro-title{
                background-color: #000000;
                @extend %title;
                &::after, 
                &::before{
                    @include after(10%);
                    background-color: blueviolet;
                }
            }
            .pro{
                padding: $size05 0;
                @include flex (space-around, wrap);
                .pro-item{
                    background-color: white;
                    margin-bottom: 10px;
                    @include flex (center, wrap);
                    img{
                        max-width: 400px;
                        object-fit: contain;
                    }
                    .text{
                        @extend %protext;
                        h4{
                            font-size: $size02;
                            &::after{
                                @include after(80%);
                                background-color: blueviolet;
                            }
                        }
                    }
                    @media (max-width:1300px) {
                        width: 100%;
                        @include flex(center, wrap);
                        .text{
                            max-width: 700px;
                        }
                    }
                }
            }    
        }
        .gallery{
            background-image: url(../pics/IMG9818.jpg);
            @extend %background;
            h3{
                @extend %title;
                &::after, 
                &::before{
                    @include after(10%);
                }
            }
            .carousel{
                .carousel-item{
                    width: 600px;
                    height: 500px;
                    img{
                        @extend %image;
                    }
                }
            }
        }
        .foot{
            padding-bottom: $size05;
            background-color: rgba($color: #000000, $alpha: 0.5);
            .foot-main-title{
                @extend %title;
                &:after{
                    @include after(10%);
                }
            }
            .foot-info{
                @include flex(space-around, wrap);
                address{
                    text-align: center;
                    margin-bottom: 10px;
                    .foot-title{
                        @extend %title;
                    }
                    ul{
                        color: whitesmoke;
                        font-size: $size02;
                        line-height: $size05;
                    }
                }
                iframe{
                    @extend %footer-box;
                }
                .coment{
                    .forms{
                        @extend %footer-box;
                        .input-item{
                            input{
                                @extend %input;
                            }
                        }
                        textarea{
                            @extend %input;
                            height: 90px;
                            resize: none;
                        }
                    }
                    button{
                        @extend %input;
                        color: whitesmoke;
                        background-color: orange;
                    }
                }
            }
            .social{
                margin-top: $size05;
                width: 100%;
                color: whitesmoke;
                @include flex(center, nowrap);
                i{
                    font-size: 25px;
                    margin-right: $size02;
                    &:hover{
                        color: orange;
                        transition: 0.2s linear;
                    }
                }
            }
            .last-point{
                @extend %text;
                font-size: 25px;
                .signature{
                    margin-top: $size02;
                }
            }
        }
    }
}