@import 'variables.scss';
%page{
    max-width: 1920px;
    margin: 0px auto;
    overflow: hidden;
    font-family: 'Langar';
}
%background{
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
%list-item{
    color:white;
    margin: 40px 10px 0 0;
    font-size: $size02;
    font-weight: bolder;
    padding: 8px;
    border-radius: 10px;
}
%navbar{
    max-width: 1920px;
    padding: $size01;
    width: 100%;
}
%nav-hover{
    color: orange;
    transition: linear 0.4s;
}
%maintitle{
    text-align: center;
    margin: 30vh 0 0 50%;
    transform: translate(-50%);
    color: whitesmoke;
    font-size: $size05;
    letter-spacing: $size02;
    font-weight: bolder;
    background-color: #111;
    display: inline-block;
}
%prev-next{
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 10px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 40px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
%title{
    text-align: center;
    color: whitesmoke;
    font-size: $size05;
    letter-spacing: $size01;
    padding: $size02 0;
}
%image{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
%home-pro-image{
    max-width: 400px;
    height: 500px;
    object-fit: contain;
}
%text{
    margin: $size02 auto;
    letter-spacing: 2px;
    line-height: 40px;
    max-width: 1000px;
    text-align: center;
    font-size: 35px;
    font-weight: lighter;
    color: whitesmoke;
}
%smalltext{
    font-size: $size02;
    line-height: 35px;
}
%protext{
    padding: 10px 0;
    max-width: 250px;
    text-align: center;
    line-height: $line-h1;
}
%about-text{
    color: whitesmoke;
    max-width: 700px;
    line-height: $size05;
    font-size: larger;
    padding: $size02;
    text-align: center;
}
%carousel-size{
    width: 600px;
    height: 500px;
}
%footer-box{
    width: 415px;
    height: 300px;
    margin-bottom: 20px;
}
%input{
    width: 100%;
    font-size: 20px;
    margin: 10px auto;
    color: whitesmoke;
    outline: orange solid 3px;
}